@media(max-width: 650px){
    .cart_wrapper{
        width: 100%;
        position: absolute;
        background-color: white;
        height: 100%;
    }
    .order_overlay{
        z-index: 1;
    }
}

@media (max-width: 1440px){
    .distance_edge{
        width: 100%;
    }
    .main_wrapper{
        width: 100%;
    }
    .main_cart_wrapper{
        width: 100%;
    }
    #logo_header{
        padding-left: 20px;
    }
}

@media(max-width: 750px){
    #menu_choice{
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

@media(max-width:480px){
    .order_overlay{
        width: 100%;
    }
}

