header{
    height: 80px;
    background-color: orange;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
body{
    margin: 0;
}

.distance_edge{
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

.width_divs{
    width: 1980px;
}

table{
    width: 100%;
}