header{
    height: 80px;
    background-color: orange;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
body{
    margin: 0;
    display: flex;
    flex-direction: column;
}

.distance_edge{
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    width: 1000px;
}

.width_divs{
    width: 1980px;
}

table{
    width: 100%;
    margin-bottom: 20px;
}

.d_none{
    display: none;
}

footer{
    height: 80px;
    background-color: orange;
    text-align: center;
}

main{
    min-height: calc(100vh - 160px);
}