header{
    height: 80px;
    background-color: orange;
    display: flex;
    justify-content: center;  
}
body{
    margin: 0;
    display: flex;
    flex-direction: column;
}

.distance_edge{
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    width: 100%;
}

table{
    width: 100%;  
}

.d_none{
    display: none;
}

footer{
    height: 80px;
    background-color: orange;
    text-align: center;
}

main{
    min-height: calc(100vh - 160px);
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
    cursor: pointer;
    color: orange;
}