#logo_header{
    height: 60px;
    padding-left: 20px;
}

#img_asia_noodles{
    width: 100%;
    height: 150px;
    object-fit: cover;

}

.img_div{
    width: 100%;
    height: 150px;
}

#menu_choice{
    display: flex;
    align-items: center;
    background-color: rgb(247, 244, 244);
    height: 50px;
    gap: 15px;
}

#rating{
    color: orange;
    font-weight: bold;
}

.div_img_dish{
    height: 150px;
    width: 100%;
    margin-top: 30px;
}

.img_dish{
    height: 150px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    
}

.box_maindish{
    border: 1px solid rgb(206, 203, 203);
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

.all_boxes_maindish_section{
    gap: 30px;
    display: flex;
    flex-direction: column;
}

.price_style{
    color: orange;
    font-weight: bold;
}

.div_add_button{
    width: 50px;
}
.add_button{
    border-top-right-radius: 7px;
    color: orange;
    height: 40px;
    width: 100%;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 0;
    border-bottom: 1px solid rgb(206, 203, 203);
    border-left: 1px solid rgb(206, 203, 203);
    border-top: 0px;
    border-right: 0px;
    background-color: white;
}

.main_cart_wrapper{
    display: flex;
    flex-direction: row;
    flex-grow: 1;

}
.content_main_wrapper{
    width: calc(100% - 400px);
}
.cart_wrapper{
    width: 300px;
    flex-grow: 1;
    /* https://smoothshadows.com/#djEsMSwzLDAuMjUsMjQsNiwwLCMwMzA3MTIsI2YzZjRmNiwjZmZmZmZmLDI%3D */
    /* box-shadow: 0px 1px 3px rgba(3, 7, 18, 0.08),
    0px 3px 11px rgba(3, 7, 18, 0.17),
    0px 6px 24px rgba(3, 7, 18, 0.25); */
    /* https://smoothshadows.com/#djEsMSwzLDAuMzksMTgsMTIsLTYsIzAzMDcxMiwjZjNmNGY2LCNmZmZmZmYsMg%3D%3D */
    box-shadow: -1px 1px 2px rgba(3, 7, 18, 0.13),
  -3px 5px 8px rgba(3, 7, 18, 0.26),
  -6px 12px 18px rgba(3, 7, 18, 0.39);


}

.cart_content{
    width: 100%;
    position: sticky;
    top: 0;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

.title_basket{
    margin: 0;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid rgb(206, 203, 203);
}

.orderelements_in_cart{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button_elements{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.divider{
    border-top: 1px solid rgb(206, 203, 203);
    margin-top: 20px;
}

.table_style{
    margin-left: 10px;
    margin-right: 10px;
}

.button_cart{
    background-color: white;
    border: 0;
}

.button_cart_trash{
    height: 30px;
    width: auto;
}
.button_cart_plus_minus{
    height: 35px;
    width: auto;
}

.title_basket_style{
    margin-bottom: 5px;
}

.td_left{
    font-weight: bold;
}

.td_right{
    text-align: right;
    padding-right: 20px;
    font-weight: bold;
}